
@import "tailwindcss";

/* Definir variables para que Tailwind genere utilidades */
@theme {
  --color-primario: #439E3A;
  --color-secundario: #7DD177;
  --color-terciario: #CBFFC7;
}

/* Añade las reglas CSS para ocultar las flechas */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
